---
import styles from './NavBar.module.scss';
---

<div class={styles.navBarWrapper}>
	<div class={styles.imgWrapper}>
		<img class={styles.img} src='circle.webp' alt='' />
	</div>
	<div class={styles.gridItem}>SELF</div>
	<div class={styles.gridItem}>CREATIONS</div>
	<div class={styles.gridItem}>HISTORY</div>
</div>
