---
import Layout from '../layouts/Layout.astro';
import styles from './index.module.scss';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class={styles.pageWrapper}>
		<video
			class={styles.flowerVideo}
			transition:persist
			autoplay
			loop
			muted
			playsinline
		>
			<source src='/flower.webm' type='video/webm' />
		</video>
		<section class={styles.firstSection}>
			<div class={styles.boxA}>
				<h3 class={styles.boxAHeader}>Quote from Vonnegut</h3>
				<p class={styles.boxAText}>
					Here we are, trapped in the amber of the moment. There is no why.”
				</p>
			</div>
			<div class={styles.boxB}>
				<p class={styles.boxBText}>
					Some books I like are Slaughterhouse Five, Metamorphosis, and Snow
					Country.
				</p>
			</div>
		</section>
		<section class={styles.secondSection}>
			<div class={styles.boxC}><img src='bug.webp' alt='birds' /></div>
			<div class={styles.boxD}>
				<p class={styles.boxDText}>
					Currently building an AI model that will create vowel vox noises
					through contextual musical understanding
				</p>
			</div>
		</section>
		<section class={styles.thirdSection}>
			<div class={styles.boxE}>
				<p class={styles.boxEText}>
					Technological design is a criminally underrated aspect of a product.
				</p>
			</div>

			<div class={styles.boxG}>
				<p>Humans are less pragmatic than corporates make out to be.</p>
			</div>
		</section>

		<section class={styles.fourthSection}>
			<div class={styles.boxH}></div>

			<div class={styles.boxI}>
				<p>Interfaces should breathe a little.</p>
			</div>
		</section>
	</div>
</Layout>
