---
import Layout from '../layouts/Layout.astro';
import styles from './index.module.scss';
---

<Layout>
	<div class={styles.pageWrapper}>
		<video
			id='flower-video'
			class={styles.flowerVideo}
			autoplay
			muted
			loop
			playsinline
			webkit-playsinline='true'
		>
			<source src='/finalflower.webm' type='video/webm' />
		</video>
		<section class={styles.firstSection}>
			<div class={styles.boxA}>
				<h3 class={styles.boxAHeader}>Quote from Vonnegut</h3>
				<p class={styles.boxAText}>
					Here we are, trapped in the amber of the moment. There is no why.”
				</p>
			</div>
			<div class={styles.boxB}>
				<p class={styles.boxBText}>
					Some books I like are Slaughterhouse Five, Metamorphosis, and Snow
					Country.
				</p>
			</div>
		</section>
		<section class={styles.secondSection}>
			<div class={styles.boxC}><img src='bug.webp' alt='birds' /></div>
			<div class={styles.boxD}>
				<p class={styles.boxDText}>
					Currently building an AI model that will create vowel vox noises
					through contextual musical understanding
				</p>
			</div>
		</section>
		<section class={styles.thirdSection}>
			<div class={styles.boxE}>
				<p class={styles.boxEText}>
					Technological design is a criminally underrated aspect of a product.
				</p>
			</div>

			<div class={styles.boxG}>
				<p>Humans are less pragmatic than corporates make out to be.</p>
			</div>
		</section>

		<section class={styles.fourthSection}>
			<div class={styles.boxH}>
				<img src='bee.webp' alt='bee' />
			</div>

			<div class={styles.boxI}>
				<p>Interfaces should breathe a little.</p>
			</div>
		</section>
	</div>
</Layout>

<script>
	document.addEventListener('astro:page-load', () => {
		const video = document.getElementById(
			'flower-video'
		) as HTMLVideoElement | null;
		if (!video) return;

		video.play().catch(() => {});

		setTimeout(() => {
			if (video.paused) {
				video.style.animation = 'none';
				video.style.display = 'none';
			}
		}, 1200);
	});
</script>
