---
import Layout from '../layouts/Layout.astro';
import styles from './self.module.scss';
---

<Layout>
	<div class={styles.pageWrapper}>
		<div class={styles.headerWrapper}>
			<h3>CHAEMIN LEE</h3>
			<img src='stillflower.webp' alt='' />
		</div>
		<div class={styles.gridWrapper}>
			<div class={styles.floatSectionWrapper}>
				<h3>
					Life needs beauty. And we can collectively contribute to that beauty
					with 1s and 0s.
				</h3>
			</div>
			<div class={styles.sectionHeader}>
				<h4>Self Description</h4>
			</div>
			<div class={styles.gridItem}>
				<div class={styles.buttonsWrapper}>
					<div class={styles.button}>
						<p><b>Raised in</b> Korea, Japan, and Hawaii</p>
					</div>
					<div class={styles.button}>
						<p><b>Recent Passion:</b> Audio-reactive AI</p>
					</div>
					<div class={styles.button}>
						<p><b>University:</b> Vanderbilt</p>
					</div>
					<div class={styles.button}>
						<p>
							<b>Currently Reading</b>
							<span style='font-style: italic;'>Snow Country</span>
						</p>
					</div>
				</div>
			</div>
			<div class={styles.sectionHeader}>
				<h4>Album Curation</h4>
			</div>
			<div class={styles.gridItem}>
				<div class={styles.albumsBox}>
					<div class={styles.albumWrapper}>
						<img src='ksg.webp' alt='kids see ghosts' />
					</div>
					<div class={styles.albumWrapper}>
						<img src='gybe.webp' alt='lift your skinny fists' />
					</div>
					<div class={styles.albumWrapper}>
						<img src='miles.webp' alt='bitches brew' />
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
