---
import Layout from '../layouts/Layout.astro';
import styles from './self.module.scss';
---

<Layout>
	<div class={styles.pageWrapper}>
		<div class={styles.gridWrapper}>
			<div class={styles.gridItem}></div>
			<div class={styles.gridItem}></div>
			<div class={styles.gridItem}></div>
		</div>
	</div>
</Layout>
