---
import Layout from '../layouts/Layout.astro';
import styles from './self.module.scss';
---

<Layout>
	<div class={styles.pageWrapper}>
		<div class={styles.headerWrapper}>
			<h3>CHAEMIN LEE</h3>
		</div>
		<div class={styles.gridWrapper}>
			<div class={styles.gridItem}>
				<div class={styles.buttonsWrapper}>
					<div class={styles.button}>
						<p><b>Raised in</b> Korea, Japan, and Hawaii</p>
					</div>
					<div class={styles.button}>
						<p><b>Recent Passion:</b> Audio-reactive AI</p>
					</div>
					<div class={styles.button}>
						<p><b>University:</b> Vanderbilt</p>
					</div>
					<div class={styles.button}>
						<p>
							<b>Currently Reading</b>
							<span style='font-style: italic;'>Snow Country</span>
						</p>
					</div>
				</div>
			</div>
			<div class={styles.gridItem}></div>
		</div>
	</div>
</Layout>
