---
import styles from './JobCard.module.scss';

interface Props {
	circleColor: string;
	topPosition: string;
	title: string;
	description: string;
	delayTime: number;
}

const { circleColor, topPosition, title, description, delayTime } = Astro.props;
---

<div
	style={`--delay: ${delayTime}s; background-color: ${circleColor}; top: ${topPosition};`}
	class={styles.circle}
>
</div>
<div class={styles.jobSection} style={`--delay: ${delayTime + 0.4}s;`}>
	<div class={styles.circleSection}></div>
	<div class={styles.jobDetails}>
		<h3>{title}</h3>
		<p>
			{description}
		</p>
	</div>
</div>
