---
import styles from './NavBar.module.scss';
const currentPath = Astro.url.pathname.replace(/\/+$/, '') || '/';
---

<div
	class={`${styles.navBarWrapper} ${currentPath === '/history' ? styles.borderActive : ''}`}
>
	<div class={styles.imgWrapper}>
		<a href='/' class={`${currentPath === '/' ? styles.activeImg : ''}`}
			><img
				class={styles.img}
				src={currentPath === '/' ? 'invertcircle.webp' : 'circle.webp'}
				alt=''
			/></a
		>
	</div>
	<a
		href='/self'
		class={`${styles.gridItem} ${currentPath === '/self' ? styles.active : ''}`}
		>SELF</a
	>
	<a
		href='/creations'
		class={`${styles.gridItem} ${currentPath === '/creations' ? styles.active : ''}`}
		>CREATIONS</a
	>
	<a
		href='/history'
		class={`${styles.gridItem} ${currentPath === '/history' ? styles.active : ''} ${styles.history}`}
		>HISTORY</a
	>
</div>
